.root {
    -fx-base: #1E90FF;
    -fx-control-inner-background: #ADD8E6;
    -fx-table-cell-border-color: #1E90FF;
    -fx-table-header-border-color: #1E90FF;
    -fx-background-color: #ADD8E6;
}

.table-view {
    -fx-font-size: 14px;
    -fx-base: #1E90FF;
    -fx-control-inner-background: #ADD8E6;
    -fx-table-cell-border-color: #1E90FF;
    -fx-table-header-border-color: #1E90FF;
    -fx-background-color: #ADD8E6;
    -fx-padding: 10;
}

.table-view .column-header-background {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 10 0 10;
}
.table-cell:hover {
    -fx-background-color: #ADD8E6;
    -fx-text-fill: #1E90FF;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.table-cell:selected .table-cell:hover{
	  -fx-background-color: black;
} 
